{% extends "base.html" %}

{% block title %}
AI Career Recommendation
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-lg p-4">

        <h2 class="text-center text-primary">
            🤖 AI Career Recommendation
        </h2>

        <hr>

        {% if error %}

        <div class="alert alert-danger">
            {{ error }}
        </div>

        {% else %}

        <table class="table table-bordered">

            <tr>
                <th width="30%">Student</th>
                <td>{{ student.full_name }}</td>
            </tr>

            <tr>
                <th>Education</th>
                <td>{{ student.education }}</td>
            </tr>

            <tr>
                <th>Branch</th>
                <td>{{ student.branch }}</td>
            </tr>

            <tr>
                <th>Selected Role</th>
                <td>{{ assessment.role }}</td>
            </tr>

            <tr>
                <th>Aptitude Score</th>
                <td>{{ assessment.score }}/{{ assessment.total_questions }}</td>
            </tr>

        </table>

        <hr>

        <h4>AI Recommendation</h4>

        <div class="alert alert-info">

            <pre style="white-space: pre-wrap; font-family: inherit;">
{{ ai_response }}
            </pre>

        </div>

        <div class="text-center mt-4">

            <a href="/dashboard/" class="btn btn-primary">
                Dashboard
            </a>

            <a href="/profile/" class="btn btn-secondary">
                My Profile
            </a>
            <a href="/careers/download-report/" class="btn btn-success">
                Download PDF Report
            </a>

        </div>

        {% endif %}

    </div>

</div>

{% endblock %}